<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Registration</h1>
            <form th:action="@{/registration}" th:object="${registrationCommand}" method="post">
                <div class="form-group">
                    <label>Firstname</label>
                    <input th:field="*{firstName}" class="form-control" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}">
                        <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>Lastname</label>
                    <input th:field="*{lastName}" class="form-control" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}">
                        <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input th:field="*{email}" class="form-control" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}">
                        <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" th:field="*{password}" class="form-control" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}">
                        <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" th:field="*{passwordConfirm}" class="form-control" th:errorclass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('passwordConfirm')}">
                        <p th:each="err : ${#fields.errors('passwordConfirm')}" th:text="${err}"></p>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="/webjars/jquery/jquery.slim.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
</body>
</html>